<ion-modal-view>
	<form>
	<ion-header-bar class="bg-main-color no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty icon-hover white" ng-click="closeEditPetModal()"></button>
		</div>
		<h1 class="title white">Edição do Pet</h1>
	</ion-header-bar>
	<ion-content class="bg-main-color">
		<div class="list list-inset">
            <form>
				<input type="hidden" ng-modal="petData.image" value="{{petImage}}">
				<div class="row profile-panel pet-panel" ng-click="showPetImageOptions()" style="background-image: url({{petImage}}); height: 100px">
				</div>
				<label class="item item-input">
					<span class="input-label">Nome</span>
                    <input type="text" class="name text-right" ng-model="petData.name" required>
				</label>
				<label class="item item-input item-select">
                    <div class="input-label">
                        Animal
                    </div>
                    <select ng-model="petData.animal" ng-change="animalChange(petData.animal)" required>
						<option value="Cão">Cão</option>
						<option value="Gato">Gato</option>
						<option value="Outro">Outro</option>
					</select>
				</label>
				<label class="item item-input item-select">
                    <div class="input-label">
                        Raça
                    </div>
                    <select ng-model="petData.breed" class="ng-{{dogBreedShow}}" required>
						<option value="Affenpinscher">Affenpinscher</option>
						<option value="Afghan Hound">Afghan Hound</option>
						<option value="Airedale Terrier">Airedale Terrier</option>
						<option value="Akita">Akita</option>
						<option value="Akita Americano">Akita Americano</option>
						<option value="American Pit Bull Terrier">American Pit Bull Terrier</option>
						<option value="American Staffordshire Terrier">American Staffordshire Terrier</option>
						<option value="Australian Shepherd">Australian Shepherd</option>
						<option value="Basenji">Basenji</option>
						<option value="Basset Fulvo da Bretanha">Basset Fulvo da Bretanha</option>
						<option value="Basset Hound">Basset Hound</option>
						<option value="Beagle">Beagle</option>
						<option value="Beagle­Harrier">Beagle­Harrier</option>
						<option value="Bearded Collie">Bearded Collie</option>
						<option value="Bedlington Terrier">Bedlington Terrier</option>
						<option value="Bernese Mountain Dog">Bernese Mountain Dog</option>
						<option value="Bichon Bolonhês">Bichon Bolonhês</option>
						<option value="Bichon Frisé">Bichon Frisé</option>
						<option value="Bichon Havanês">Bichon Havanês</option>
						<option value="Boerboel">Boerboel</option>
						<option value="Boiadeiro de Entlebuch">Boiadeiro de Entlebuch</option>
						<option value="Border Collie">Border Collie</option>
						<option value="Border Terrier">Border Terrier</option>
						<option value="Borzoi">Borzoi</option>
						<option value="Boston Terrier">Boston Terrier</option>
						<option value="Bouvier de Flandres">Bouvier de Flandres</option>
						<option value="Boxer">Boxer</option>
						<option value="Braco Alemão Pelo Curto">Braco Alemão Pelo Curto</option>
						<option value="Braco Alemão Pelo Duro">Braco Alemão Pelo Duro</option>
						<option value="Braco Italiano">Braco Italiano</option>
						<option value="Buldogue Americano">Buldogue Americano</option>
						<option value="Buldogue Francês">Buldogue Francês</option>
						<option value="Buldogue Inglês">Buldogue Inglês</option>
						<option value="Bull Terrier">Bull Terrier</option>
						<option value="Bullmastiff">Bullmastiff</option>
						<option value="Cairn Terrier">Cairn Terrier</option>
						<option value="Cane Corso">Cane Corso</option>
						<option value="Cão de Crista Chinês">Cão de Crista Chinês</option>
						<option value="Cão de Santo Humberto">Cão de Santo Humberto</option>
						<option value="Cão D’água Espanhol">Cão D’água Espanhol</option>
						<option value="Cão D’água Português">Cão D’água Português</option>
						<option value="Cão Lobo Checoslovaco">Cão Lobo Checoslovaco</option>
						<option value="Cão Pelado Mexicano">Cão Pelado Mexicano</option>
						<option value="Cão Pelado Peruano">Cão Pelado Peruano</option>
						<option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
						<option value="Cesky Terrier">Cesky Terrier</option>
						<option value="Chesapeake Bay Retriever">Chesapeake Bay Retriever</option>
						<option value="Chihuahua">Chihuahua</option>
						<option value="Chin">Chin</option>
						<option value="Chow­chow Pelo Curto">Chow­chow Pelo Curto</option>
						<option value="Chow­chow Pelo Longo">Chow­chow Pelo Longo</option>
						<option value="Cirneco do Etna">Cirneco do Etna</option>
						<option value="Clumber Spaniel">Clumber Spaniel</option>
						<option value="Cocker Spaniel Americano">Cocker Spaniel Americano</option>
						<option value="Cocker Spaniel Inglês">Cocker Spaniel Inglês</option>
						<option value="Collie pelo longo">Collie pelo longo</option>
						<option value="Coton de Tulear">Coton de Tulear</option>
						<option value="Dachshund Teckel ­ Pelo Curto">Dachshund Teckel ­ Pelo Curto</option>
						<option value="Dálmata">Dálmata</option>
						<option value="Dandie Dinmont Terrier">Dandie Dinmont Terrier</option>
						<option value="Dobermann">Dobermann</option>
						<option value="Dogo Argentino">Dogo Argentino</option>
						<option value="Dogo Canário">Dogo Canário</option>
						<option value="Dogue Alemão">Dogue Alemão</option>
						<option value="Dogue de Bordeaux">Dogue de Bordeaux</option>
						<option value="Elkhound Norueguês Cinza">Elkhound Norueguês Cinza</option>
						<option value="Fila Brasileiro">Fila Brasileiro</option>
						<option value="Flat­Coated Retriever">Flat­Coated Retriever</option>
						<option value="Fox Terrier Pelo Duro">Fox Terrier Pelo Duro</option>
						<option value="Fox Terrier Pelo Liso">Fox Terrier Pelo Liso</option>
						<option value="Foxhound Inglês">Foxhound Inglês</option>
						<option value="Galgo Espanhol">Galgo Espanhol</option>
						<option value="Golden Retriever">Golden Retriever</option>
						<option value="Grande Münsterländer">Grande Münsterländer</option>
						<option value="Greyhound">Greyhound</option>
						<option value="Griffon Belga">Griffon Belga</option>
						<option value="Griffon de Bruxelas">Griffon de Bruxelas</option>
						<option value="Husky Siberiano">Husky Siberiano</option>
						<option value="Ibizan Hound">Ibizan Hound</option>
						<option value="Irish Soft Coated Wheaten Terrier">Irish Soft Coated Wheaten Terrier</option>
						<option value="Irish Wolfhound">Irish Wolfhound</option>
						<option value="Jack Russell Terrier">Jack Russell Terrier</option>
						<option value="Kerry Blue Terrier">Kerry Blue Terrier</option>
						<option value="Komondor">Komondor</option>
						<option value="Kuvasz">Kuvasz</option>
						<option value="Labrador Retriever">Labrador Retriever</option>
						<option value="Lagotto Romagnolo">Lagotto Romagnolo</option>
						<option value="Lakeland Terrier">Lakeland Terrier</option>
						<option value="Leonberger">Leonberger</option>
						<option value="Lhasa Apso">Lhasa Apso</option>
						<option value="Malamute do Alasca">Malamute do Alasca</option>
						<option value="Maltês">Maltês</option>
						<option value="Mastiff">Mastiff</option>
						<option value="Mastim Espanhol">Mastim Espanhol</option>
						<option value="Mastino Napoletano">Mastino Napoletano</option>
						<option value="Mudi">Mudi</option>
						<option value="Nordic Spitz">Nordic Spitz</option>
						<option value="Norfolk Terrier">Norfolk Terrier</option>
						<option value="Norwich Terrier">Norwich Terrier</option>
						<option value="Old English Sheepdog">Old English Sheepdog</option>
						<option value="Papillon">Papillon</option>
						<option value="Parson Russell Terrier">Parson Russell Terrier</option>
						<option value="Pastor Alemão">Pastor Alemão</option>
						<option value="Pastor Beauceron">Pastor Beauceron</option>
						<option value="Pastor Belga">Pastor Belga</option>
						<option value="Pastor Bergamasco">Pastor Bergamasco</option>
						<option value="Pastor Branco">Pastor Branco Suíço</option>
						<option value="Pastor Briard">Pastor Briard</option>
						<option value="Pastor da Ásia Central">Pastor da Ásia Central</option>
						<option value="Pastor de Shetland">Pastor de Shetland</option>
						<option value="Pastor dos Pirineus">Pastor dos Pirineus</option>
						<option value="Pastor Maremano Abruzês">Pastor Maremano Abruzês</option>
						<option value="Pastor Polonês">Pastor Polonês</option>
						<option value="Pastor Polonês da Planície">Pastor Polonês da Planície</option>
						<option value="Pequeno Basset Griffon da Vendéia">Pequeno Basset Griffon da Vendéia</option>
						<option value="Pequeno Cão Leão">Pequeno Cão Leão</option>
						<option value="Pequeno Lebrel Italiano">Pequeno Lebrel Italiano</option>
						<option value="Pequeno Lebrel Italiano">Pequeno Lebrel Italiano</option>
						<option value="Perdigueiro Português">Perdigueiro Português</option>
						<option value="Petit Brabançon">Petit Brabançon</option>
						<option value="Pharaoh Hound">Pharaoh Hound</option>
						<option value="Pinscher Miniatura">Pinscher Miniatura</option>
						<option value="Podengo Canário">Podengo Canário</option>
						<option value="Podengo Português">Podengo Português</option>
						<option value="Pointer Inglês">Pointer Inglês</option>
						<option value="Poodle Anão">Poodle Anão</option>
						<option value="Poodle Médio">Poodle Médio</option>
						<option value="Poodle Standard">Poodle Standard</option>
						<option value="Poodle Toy">Poodle Toy</option>
						<option value="Pug">Pug</option>
						<option value="Puli">Puli</option>
						<option value="Pumi">Pumi</option>
						<option value="Rhodesian Ridgeback">Rhodesian Ridgeback</option>
						<option value="Rottweiler">Rottweiler</option>
						<option value="Saluki">Saluki</option>
						<option value="Samoieda">Samoieda</option>
						<option value="São Bernardo">São Bernardo</option>
						<option value="Schipperke">Schipperke</option>
						<option value="Schnauzer">Schnauzer</option>
						<option value="Schnauzer Gigante">Schnauzer Gigante</option>
						<option value="Schnauzer Miniatura">Schnauzer Miniatura</option>
						<option value="Scottish Terrier">Scottish Terrier</option>
						<option value="Sealyham Terrier">Sealyham Terrier</option>
						<option value="Setter Gordon">Setter Gordon</option>
						<option value="Setter Inglês">Setter Inglês</option>
						<option value="Setter Irlandês Vermelho">Setter Irlandês Vermelho</option>
						<option value="Setter Irlandês Vermelho e Branco">Setter Irlandês Vermelho e Branco</option>
						<option value="Shar­pei">Shar­pei</option>
						<option value="Shiba">Shiba</option>
						<option value="Shih­Tzu">Shih­Tzu</option>
						<option value="Silky Terrier Australiano">Silky Terrier Australiano</option>
						<option value="Skye Terrier">Skye Terrier</option>
						<option value="Smoushond Holandês">Smoushond Holandês</option>
						<option value="Spaniel Bretão">Spaniel Bretão</option>
						<option value="Spinone Italiano">Spinone Italiano</option>
						<option value="Spitz Alemão Anão">Spitz Alemão Anão</option>
						<option value="Spitz Finlandês">Spitz Finlandês</option>
						<option value="Spitz Japonês Anão">Spitz Japonês Anão</option>
						<option value="Springer Spaniel Inglês">Springer Spaniel Inglês</option>
						<option value="Stabyhoun">Stabyhoun</option>
						<option value="Staffordshire Bull Terrier">Staffordshire Bull Terrier</option>
						<option value="Terra Nova">Terra Nova</option>
						<option value="Terrier Alemão de caça Jagd">Terrier Alemão de caça Jagd</option>
						<option value="Terrier Brasileiro">Terrier Brasileiro</option>
						<option value="Terrier Irlandês de Glen do Imaal">Terrier Irlandês de Glen do Imaal</option>
						<option value="Terrier Preto da Rússia">Terrier Preto da Rússia</option>
						<option value="Tibetan Terrier">Tibetan Terrier</option>
						<option value="Tosa Inu">Tosa Inu</option>
						<option value="Vira­Latas">Vira­Latas</option>
						<option value="Vizsla">Vizsla</option>
						<option value="Volpino Italiano">Volpino Italiano</option>
						<option value="Weimaraner">Weimaraner</option>
						<option value="Welsh Corgi Cardigan">Welsh Corgi Cardigan</option>
						<option value="Welsh Corgi Pembroke">Welsh Corgi Pembroke</option>
						<option value="Welsh Springer Spaniel">Welsh Springer Spaniel</option>
						<option value="Welsh Terrier">Welsh Terrier</option>
						<option value="West Highland White Terrier">West Highland White Terrier</option>
						<option value="Whippet">Whippet</option>
						<option value="Yorkshire Terrier">Yorkshire Terrier</option>
                   </select>
                   <select ng-model="petData.catBreed" class="ng-{{catBreedShow}}" required>
						<option value="Abissínio">Abissínio</option>
						<option value="American Curl">American Curl</option>
						<option value="American Longhair">American Longhair</option>
						<option value="American Shorthair">American Shorthair</option>
						<option value="American Wirehair">American Wirehair</option>
						<option value="Angorá Turco">Angorá Turco</option>
						<option value="Balinês">Balinês</option>
						<option value="Bobtail Americano">Bobtail Americano</option>
						<option value="Bobtail Japonês">Bobtail Japonês</option>
						<option value="Bombaim">Bombaim</option>
						<option value="British Longhair">British Longhair</option>
						<option value="British Shorthair">British Shorthair</option>
						<option value="Burmês (Burmeses)">Burmês (Burmeses)</option>
						<option value="Burmilla">Burmilla</option>
						<option value="California Spangled">California Spangled</option>
						<option value="Chartreux">Chartreux</option>
						<option value="Colorpoint Shorthair">Colorpoint Shorthair</option>
						<option value="Cornish Rex">Cornish Rex</option>
						<option value="Devon Rex">Devon Rex</option>
						<option value="Exotic Shorthair">Exotic Shorthair</option>
						<option value="Gato Egeu">Gato Egeu</option>
						<option value="Gato Somali">Gato Somali</option>
						<option value="Gato­ de ­Bengala">Gato­ de­ Bengala</option>
						<option value="Havana Brown">Havana Brown</option>
						<option value="Himalaio">Himalaio</option>
						<option value="Javanese">Javanese</option>
						<option value="Korat">Korat</option>
						<option value="Kurilian Botail">Kurilian Botail</option>
						<option value="LaPerm">LaPerm</option>
						<option value="Levkoy Urcrâniano">Levkoy Urcrâniano</option>
						<option value="Maine Coon">Maine Coon</option>
						<option value="Manx">Manx</option>
						<option value="Mau egípcio">Mau egípcio</option>
						<option value="Mist Australiano">Mist Australiano</option>
						<option value="Munchkin">Munchkin</option>
						<option value="Nebelung">Nebelung</option>
						<option value="Norueguês da Floresta">Norueguês da Floresta</option>
						<option value="Ocicat">Ocicat</option>
						<option value="Oriental Bicolour">Oriental Bicolour</option>
						<option value="Oriental Shorthair">Oriental Shorthair</option>
						<option value="Persa">Persa</option>
						<option value="Peterbald">Peterbald</option>
						<option value="Pêlo Curto Brasileiro">Pêlo Curto Brasileiro</option>
						<option value="Pêlo Curto Europeu">Pêlo Curto Europeu</option>
						<option value="Pixie­Bob">Pixie­Bob</option>
						<option value="Ragamuffin">Ragamuffin</option>
						<option value="Ragdoll">Ragdoll</option>
						<option value="Russian Blue">Russian Blue</option>
						<option value="Sagrado da Birmânia">Sagrado da Birmânia</option>
						<option value="Savannah">Savannah</option>
						<option value="Scottish Fold">Scottish Fold</option>
						<option value="Selkirk Rex">Selkirk Rex</option>
						<option value="Serengeti">Serengeti</option>
						<option value="Siamês">Siamês</option>
						<option value="Snowshoe">Snowshoe</option>
						<option value="Sokoke">Sokoke</option>
						<option value="Sphynx">Sphynx</option>
						<option value="Tonquinês">Tonquinês</option>
						<option value="Toyger">Toyger</option>
						<option value="Turkish Van">Turkish Van</option>
						<option value="York Chocolate Cat">York Chocolate Cat</option>
				   </select>
                    <input type="text" class="otherAnimal" class="ng-{{otherAnimalShow}}" ng-model="petData.otherAnimal" required>
                </label>
				<label class="item item-input item-select">
                    <div class="input-label">
                        Porte
                    </div>
                    <select id="petSize" ng-model="petData.size" required>
                        <option value="Mini">Até 5 kg</option>
                        <option value="Pequeno">5­-15 kg</option>
                        <option value="Médio">15-25 kg</option>
                        <option value="Grande">25-40 kg</option>
                        <option value="Gigante">Mais de 40 kg</option>
                    </select>
                </label>
				<label class="item item-input item-select">
                    <div class="input-label">
                        Ração Favorita
                    </div>
                    <select ng-model="petData.ration" required>
                        <option value="Cibau">Cibau</option>
                        <option value="Equilíbrio Total">Equilíbrio Total</option>
                        <option value="Vet Life">Vet Life</option>
                        <option value="Guabi Natural">Guabi Natural</option>
                        <option value="Royal Canin Breed">Royal Canin Breed</option>
                        <option value="VitalCan PRO">VitalCan PRO</option>
                        <option value="Frost Alisu">Frost Alisu</option>
                        <option value="Huggy">Huggy</option>
                        <option value="Hills – Science Diet">Hills – Science Diet</option>
                        <option value="Hills – Prescription Diet Canine">Hills – Prescription Diet Canine</option>
                        <option value="Eukanuba">Eukanuba</option>
                        <option value="Nestlé ProPlan Purina">Nestlé ProPlan Purina</option>
                        <option value="Premier Pet">Premier Pet</option>
                        <option value="Cyno">Cyno</option>
                        <option value="Pedigree Advanced">Pedigree Advanced</option>
                        <option value="Nutron Pet Wellness">Nutron Pet Wellness</option>
                    </select>
                </label>
				<button class="button button-block button-energized" ng-click="savePet(petData)">
					Confirmar
				</button>
            </form>
		</div>
	</ion-content>
	</form>
</ion-modal-view>
