<ion-view view-title="Login" name="login-view">
    <ion-content class="bg-main-color" id="login-content" overflow-scroll="true">
        <div class="icon logo"></div>
        <div class="list list-inset">
			<div class="icon brand"></div>
<!--			<h1 class="brand-name text-center white">Linked<span>Pet</span></h1>-->
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Email" class="email" ng-model="loginData.ds_login" required>
				</label>
                <label class="item item-input" style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px">
                    <input type="password" placeholder="Senha" class="password" ng-model="loginData.ds_senha" required>
				</label>
                <button class="button button-block button-energized" ladda="submitting" data-style="expand-right" ng-click="login(loginData)"><span ng-show="!submitting">Entrar</span></button>
                <div class="social-buttons-container row">
<!--                    <button class="button button-block button-calm google-btn bg-white social-btn col" ladda="submitting" data-style="expand-right" ng-click="googleLogin()">Google</button>-->
                    <button class="button button-block button-calm facebook-btn social-btn col" ladda="submitting" data-style="expand-right" ng-click="fbLogin()"><i class="ion-social-facebook" style="padding-right: 0.4rem; font-size: 1rem;"></i>Entrar com Facebook</button>
                </div>
                <div class="text-center white bottom" ng-click="signUpModal()" style="padding-bottom: 0.8rem; position: fixed; width: 100%">Cadastre-se</div>
            </form>
        </div>
    </ion-content>
</ion-view>
