<ion-view>
    <ion-nav-title>Petshop</ion-nav-title>
    <ion-content class="padding bg-white petshop-content" delegate-handle="waterScroll" overflow-scroll="true" data-tap-disabled='true'>
        <ion-slides options="options" slider="slider">
            <ion-slide-page class="bg-petshop" style="background-image: url({{petshop.back_image}})"></ion-slide-page>
        </ion-slides>
        <div class="petshop-details row">
            <div class="petshop-logo-big" style="background-image: url('{{petshop.image}}')"></div>
            <div class="col col-70 petshop-info">
                <h2 class="white">{{petshop.name}}</h2>
                <i class="icon ion-ios-star{{isFavorite}} right" ng-click="favoriteService({{petshop.id}})"></i>
<!--				 on-icon="ion-ios-star" off-icon="ion-ios-star-outline" icon-switcher -->
                <div class="clear"></div>
                <p class="black">{{petshop.description}}</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="card agendamento">
            <div class="list">
				<form>
					<div class="item item-divider bg-second-color white">
						Agendamento
						<i class="icon ion-ios-plus-outline right white" on-icon="ion-ios-plus" off-icon="ion-ios-plus-outline" icon-switcher ng-click="scheduleConfirm(scheduleData)"></i>
					</div>
					<label class="item item-input item-select">
						<div class="input-label">
							Serviço
						</div>
						<select ng-model="scheduleData.service_id">
							<option ng-repeat="petshopService in petshopServices" value="{{petshopService.id}}">{{petshopService.name}}</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
							Pet
						</div>
						<select ng-model="scheduleData.pet_id">
							<option ng-repeat="pet in pets" value="{{pet.id}}">{{pet.name}}</option>
						</select>
					</label>
				</form>
            </div>
        </div>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
        <div class="address-bar text-center white">{{petshop.address}}, {{petshop.number}}<br><span>{{petshop.district}}, {{petshop.city}}</span></div>
    </ion-content>
</ion-view>
