<ion-modal-view>
	<ion-header-bar class="bg-main-color no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty icon-hover white" ng-click="closeModal()"></button>
		</div>
		<h1 class="title white">Cadastre-se</h1>
		<div class="buttons">
			<!--            <button class="button button-clear close white" ng-click="closeModal()">Salvar</button>-->
		</div>
	</ion-header-bar>
	<ion-content class="bg-main-color">
		<div class="list list-inset signup-form">
			<form>
<!--				<div class="row">-->
<!--					<div class="col col-100 text-center white">-->
<!--						<h3>Escolha o melhor para o seu animalzinho</h3>-->
<!--						<h5>Cadastre-se agora no LinkedPet descubra os diversos benefícios que te esperam a 1 click de distância!</h5>-->
<!--					</div>-->
<!--				</div>-->
				<div class="row profile-panel user-panel" ng-click="showUserImageOptions()" style="background-image: url({{userImage}}); height: 85px"></div>
				<label class="item item-input" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
					<div class="input-label">
						Nome
					</div>
					<input type="text" placeholder="Ex: João Silva" ng-model="signUpData.nome">
				</label>
				<label class="item item-input" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
					<div class="input-label">
						Telefone
					</div>
					<input type="text" placeholder="Ex: 011988776655" ng-model="signUpData.phone" maxlength="14">
				</label>
				<label class="item item-input">
					<div class="input-label">
						Email
					</div>
					<input type="email" placeholder="Ex: joao.silva@gmail.com" ng-model="signUpData.ds_login">
				</label>
				<label class="item item-input">
					<div class="input-label">
						Senha
					</div>
					<input type="password" class="password" ng-model="signUpData.ds_senha">
				</label>
				<label class="item item-input" style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px">
					<div class="input-label" style="width: 100%;">
						Confirme sua senha
					</div>
					<input type="password" class="password" ng-model="signUpData.senha_confirm">
				</label>
				<button class="button button-block button-energized" ng-click="signUp(signUpData)">
					Entrar
				</button>
			<form>
		</div>
	</ion-content>
</ion-modal-view>
