<ion-view>
    <ion-nav-title>LINKED<span>PET</span></ion-nav-title>
    <ion-content class="padding bg-gray" delegate-handle="waterScroll" overflow-scroll="true">
<!--        <div class="card">-->
<!--            <div class="item">-->
<!--                <div class="col col-20 text-center">-->
<!--                    <div class="calendarday">-->
<!--                        <h2>{{dia}}</h2>-->
<!--                        <h2 Class="second-color">{{mes}}</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="card finished">
            <div class="item">
                 <div class="col col-80 left">
                     <h2>Seu pet já está de banho tomado</h2>
                     <p>Serviço Concluído há 1 hora</p>
                 </div>
                 <div class="col col-20 text-center right">
                     <button class="button button-icon button-clear ion-ios-checkmark-empty green"></button>
                     <p class="green">Estou indo</p>
                 </div>
            </div>
            <div class="bg-card cachorro"></div>
        </div>
    </ion-content>
</ion-view>
