<ion-modal-view>
	<form>
	<ion-header-bar class="bg-main-color no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty icon-hover white" ng-click="closeInvoiceModal()"></button>
		</div>
		<h1 class="title white">Agendamento</h1>
	</ion-header-bar>
	<ion-content class="bg-main-color">
		<div class="card invoice-container">
			<div class="item">
				<div class="col petshop-info">
					<div class="left">
						<h2>{{serviceSchedule.service_name}}</h2>
						<p><span>{{serviceSchedule.petshop_name}}</span></p>
					</div>
					<div class="right">
						<div class="circle" style="background-image: url({{serviceSchedule.image}})"></div>
					</div>
					<div class="clearfix"></div>
					<label class="item item-input item-select clear">
						<div class="input-label">
							Data
						</div>
						<input type="date" placeholder="Data" ng-model="scheduleData.date" ng-change="dateChange(scheduleData.date)">
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
							Horário
						</div>
						<select ng-model="scheduleData.time">
							<option ng-repeat="time in times" value="{{time}}">{{time}}</option>
						</select>
					</label>
<!--					<label class="item item-input item-select">-->
<!--						<div class="input-label">-->
<!--							Frequência-->
<!--						</div>-->
<!--						<select id="frequency" ng-model="scheduleData.frequency" required>-->
<!--							<option value="Sem repetição">Sem repetição</option>-->
<!--							<option value="Semanal">Se­manal</option>-->
<!--							<option value="Quizenal">Quinzenal</option>-->
<!--						</select>-->
<!--					</label>-->
					<label class="item item-input item-select">
						<div class="input-label">
							Pet
						</div>
						<select ng-model="scheduleData.pet_id">
							<option ng-repeat="pet in pets" value="{{pet.id}}">{{pet.name}}</option>
						</select>
					</label>
					<label class="item item-input">
						<textarea placeholder="Observações" ng-model="scheduleData.note"></textarea>
					</label>
					<ui-gmap-google-map center='map.center' zoom='map.zoom'>
						<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
					</ui-gmap-google-map>
					<div class="address-bar text-center white">{{serviceSchedule.address}}, {{serviceSchedule.number}}<br><span>{{serviceSchedule.district}}, {{serviceSchedule.city}}</span></div>
					<div class="total-bar clear">
						<div class="text-left left">Total</div>
						<div class="text-center left gray ng-{{isSale}} sale-price">R${{serviceSchedule.price}}</div>
						<div class="text-right left second-color ng-{{isSale}} sale-price">R${{serviceSchedule.new_price}}</div>
						<div class="text-right left second-color ng-{{isNotSale}}">R${{serviceSchedule.price}}</div>
					</div>
				    <button class="button button-block button-energized" ng-click="schedule(scheduleData, {{'serviceSchedule.service_id'}})">Confirmar</button>
				</div>
			</div>
		</div>
	</ion-content>
	</form>
</ion-modal-view>
