<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7 bg-second-color">
            <ion-nav-back-button class="white">Voltar</ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon white" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <div class="badge bg-red white" ng-click="showNotifications()">{{notificationCounter}}</div>
                <button class="button button-icon button-clear {{rightButton}} ion-ios-bell white" ng-click="showNotifications()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable bg-main-color no-bg-image">
            <h1 class="title menu-title brand-name white">LINKED<span>PET</span></h1>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
            <ion-list>
				<ion-item>
					<div class="profile-image pull-left left" style="background-image: url({{userInfo.image}})"></div>
					<div class="profile-info pull-left left">
						<span>{{userInfo.name}}</span><div class="clearfix"></div>
						<div class="notification-ball pull-left left" ng-click="showNotifications()"></div> {{notificationCounter}} novas notificações
<!--						Agendamentos em Andamento · Agendamentos Finalizados-->
					</div>
                </ion-item>
				<ion-item menu-close href="#/app/servicos">
					<i class="pull-left left ion-ios-cart"></i>
                    Serviços
                </ion-item>
                <ion-item menu-close href="#/app/agendamentos">
					<i class="pull-left left ion-ios-alarm"></i>
                    Agendamentos
                </ion-item>
                <ion-item menu-close href="#/app/pets">
					<i class="pull-left left ion-ios-paw"></i>
                    Meus Pets
                </ion-item>
                <ion-item menu-close href="#" ng-click="logout()">
					<i class="pull-left left ion-ios-close"></i>
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
