<ion-view>
    <ion-nav-title>Meus Pets</ion-nav-title>
    <ion-content class="padding bg-gray pets-content" delegate-handle="waterScroll" overflow-scroll="true">
		<ion-list>
			<ion-item class="card item-card" ng-repeat="pet in pets">
				<div class="item">
					<div class="petshop-logo left" style="background-image: url('{{pet.image}}')"></div>
					<div class="col petshop-info">
						<h2 class="left">{{pet.name}}</h2>
						<button class="button button-icon button-clear ion-ios-close-empty red right" ng-click="removePet({{pet.id}})"></button>
						<p>
							<span>Raça</span> · {{pet.breed}}<br>
							<span>Tamanho</span> · {{pet.size}}<br>
							<span>Ração</span> · {{pet.ration}}
						</p>
						<a class="button icon-left ion-edit bg-main-color white right" ng-click="petEdit({{pet.id}})">Editar</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<button class="button button-block button-calm bg-second-color" ng-click="createPetModal()">+ Adicionar Pet</button>
    </ion-content>
</ion-view>
