<ion-view>
    <ion-nav-title>Agendamentos</ion-nav-title>
    <ion-content class="padding bg-gray schedule-content servicos-content" delegate-handle="waterScroll" overflow-scroll="true">
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item class="card" ng-repeat="schedule in schedules" ng-click="scheduleInfo({{schedule.schedule_id}})">
				<div class="item">
					<div class="petshop-logo left" style="background-image: url('{{schedule.image}}')"></div>
					<div class="col petshop-info">
						<h2>{{schedule.service_name}}</h2>
						<p><span>{{schedule.petshop_name}} ></span><br>{{schedule.address}}, {{schedule.number}} - {{schedule.district}} <br> {{schedule.city}}/{{schedule.state}}</p>
						<a class="second-color right price">R${{schedule.price}}</a>
					</div>
					<div class="alert-bar white {{schedule.status.substring(0, 2)}}">{{schedule.status_text}}</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
