<ion-modal-view>
    <ion-header-bar class="bg-main-color no-bg-image">
        <div class="buttons">
            <button class="button button-clear close ion-ios-close-empty icon-hover white" ng-click="closeModal()"></button>
        </div>
        <h1 class="title white">Notificações</h1>
        <div class="buttons">
<!--            <button class="button button-clear close white" ng-click="closeModal()">Salvar</button>-->
        </div>
    </ion-header-bar>
    <ion-content class="bg-main-color">
		<div class="card invoice-container notification-container">
			<div class="list">
				<ion-item class="item item-avatar {{notificationItem.unread}}" ng-repeat="notificationItem in notificationItems">
					<img src="{{notificationItem.image}}">
					<h2>{{notificationItem.title}}</h2>
					<h4>{{notificationItem.message}}</h4>
					<p>{{notificationItem.created_at}}</p>
				</ion-item>
			</div>
		</div>
    </ion-content>
</ion-modal-view>
