<ion-view>
    <ion-nav-title>Serviços</ion-nav-title>
	<div class="bar bar-subheader ng-{{searchBar}} bg-main-color white">
		<form>
			<i class="pull-left left ion-funnel"></i>
			<label class="item item-input item-select col col-50" style="padding-left: 0; width: 40%;">
				<select ng-model="searchData.filter" class="white" ng-change="filterChange(searchData)" style="padding-right:1.4rem">
					<option value="0" ng-selected="true" selected>Filtrar por...</option>
					<option value="1">Petshop</option>
					<option value="2">Serviço</option>
					<option value="3">Promoções</option>
					<option value="4">Favoritos</option>
					<option value="5">Preço</option>
					<option value="6">Cidade</option>
				</select>
			</label>
			<label class="item item-input item-select col col-50 ng-{{searchSelect}}" style="padding-left: 0;
max-width: 55%;">
				<select ng-model="searchData.search" class="white" ng-change="filterResultChange(searchData)">
					<option ng-repeat="search in searches" value="{{search.searchId}}">{{search.search}}</option>
				</select>
			</label>
			<label class="item item-input item-select col col-50 ng-{{priceSelect}}" style="padding-left: 0;max-width: 55%;">
				<select ng-model="searchData.search" ng-change="filterResultChange(searchData)" class="white">
					<option value="1">R$0 - R$15</option>
					<option value="2">R$15 - R$30</option>
					<option value="3">R$30 - R$45</option>
					<option value="4">R$45 - R$60</option>
					<option value="5">R$75 - R$90</option>
					<option value="6">R$105 - R$120</option>
					<option value="7">R$135 - R$150</option>
					<option value="8">R$150 - R$165</option>
					<option value="9">R$180 - R$195</option>
					<option value="10">R$210 - R$225</option>
					<option value="11">R$240 - R$255</option>
					<option value="12">R$255 - R$270</option>
				</select>
			</label>
			<label class="item item-input col col-50 city-input ng-{{cityInput}}" style="padding-left: 0;max-width: 55%;">
				<input type="text" class="white" ng-model="searchData.search" ng-change="filterResultChange(searchData)">
			</label>
		</form>
	</div>
    <ion-content class="padding bg-gray servicos-content" id="servicos-content" delegate-handle="waterScroll" overflow-scroll="true" style="padding-top: 3.5rem;">
		<ion-refresher on-refresh="allServices()"></ion-refresher>
		<ion-list>
			<ion-item class="card" ng-repeat="servico in servicos">
				<div class="item">
					<div class="petshop-logo left" style="background-image: url('{{servico.image}}')" ng-click="petshopPage({{servico.petshop_id}})"></div>
					<div class="col petshop-info">
						<h2 ng-click="petshopPage({{servico.petshop_id}})">{{servico.service_name}}</h2>
						<p ng-click="petshopPage({{servico.petshop_id}})"><span>{{servico.petshop_name}} ></span><br>{{servico.address}}, {{servico.number}} - {{servico.district}} <br> {{servico.city}}/{{servico.state}}</p>
						<a class="button icon-left ion-ios-calendar bg-second-color white right" ng-click="scheduleService({{servico.service_id}})">Agendar</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<h4 class="empty-message ng-{{emptyDataMessage}} center text-center">Nenhum serviço encontrado</h4>
    </ion-content>
</ion-view>
