<ion-modal-view>
	<ion-header-bar class="bg-main-color no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty icon-hover white" ng-click="closeModal()"></button>
		</div>
		<h1 class="title white">Complete seu cadastro</h1>
		<div class="buttons">
			<!--            <button class="button button-clear close white" ng-click="closeModal()">Salvar</button>-->
		</div>
	</ion-header-bar>
	<ion-content class="bg-main-color">
		<div class="list list-inset">
            <form>
<!--				<div class="row profile-panel" style="background-image: url({{userImage}}); height: 85px">-->
<!--					<div class="col col-100">-->
<!--						<div class="profile-img" style="background-image: url({{profileImg}})"></div>-->
<!--					</div>-->
<!--				</div>-->
				<div class="row profile-panel user-panel" style="background-image: url({{profileImg}}); height: 85px"></div>
				<div class="row">
					<div class="col col-100 text-center">
						<h3 class="white">Olá, {{userName}}</h3>
						<h6 class="white">Complete abaixo seu cadastro com as informações restantes para utilizar o LinkedPet</h6>
					</div>
				</div>
				<label class="item item-input" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
					<div class="input-label">
						Email
					</div>
                    <input type="text" placeholder="Ex: joao.silva@gmail.com" class="email" ng-model="updateSignUpData.ds_login" required>
                </label>
				<label class="item item-input">
					<div class="input-label">
						Senha
					</div>
					<input type="password" class="password" ng-model="updateSignUpData.senha">
				</label>
				<label class="item item-input" style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px">
					<div class="input-label" style="width: 100%;">
						Confirme sua senha
					</div>
					<input type="password" ng-model="updateSignUpData.senha_confirm">
				</label>
				<label class="item item-input" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
					<div class="input-label">
						Telefone
					</div>
					<input type="text" placeholder="Ex: 011988776655" ng-model="signUpData.phone" maxlength="14">
				</label>
				<button class="button button-block button-energized" ng-click="updateSignUp(updateSignUpData)">
					Entrar
				</button>
            </form>
		</div>
	</ion-content>
</ion-modal-view>
