.no-bg-image{
	background-image: none !important;
}

.text-left{
	text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
	text-align: right;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
	clear: both;
}

.absolute{
	position: absolute;
}

.bottom{
	bottom: 0;
}

.circle{
	background-image: url(http://linkedpet.com.br/logos/28662.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100px;
	height: 50px;
	margin-right: 0.25rem;
	margin-top: 1rem;
	width: 50px;

}

.icon.brand{
	background-image: url('../img/icon_transparent.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
	margin: 0 auto;
	width: 100px;
}

.no-padding-left{
	padding-left: 0;
}

ion-nav-view[nav-view-transition="android"] ion-header-bar{
    height: 50px !important;
}

ion-nav-view[nav-view-transition="android"] .bar-header:not(.bar-subheader) > * {
    margin-top: 3px !important;
}

ion-nav-view[nav-view-transition="android"] .has-header, ion-nav-view[nav-view-transition="android"] .bar-subheader {
    top: 50px !important;
}

ion-header-bar.bar-stable{
    border-bottom: 3px solid #FFC531 !important;
}

ion-side-menu:before{
	background-image: url('../img/icon_transparent.png');
	background-position: 40px 325px;
	background-repeat: no-repeat;
	background-size: 150%;
	content: "";
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

ion-side-menu ion-header-bar.bar-stable{
    border-bottom: 3px solid #FFC531 !important;
}

ion-side-menu, ion-side-menu ion-item, ion-side-menu ion-item a{
	background-color: #FF8010 !important;
	border: none !important;
	color: #fff !important;
}

ion-side-menu ion-item i{
	font-size: 1.3rem;
	margin-right: 0.8rem;
}

.profile-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid #ffc900;
	border-radius: 60px;
	height: 60px;
	width: 60px;
}

.profile-info{
	font-size: 0.8rem;
	padding-left: 0.6rem;
	padding-top: 0.6rem;
}

.profile-info .notification-ball{
	background-color: #FE0103;
	border-radius: 10px;
	height: 10px;
	margin-right: 0.3rem;
	margin-top: 0.3rem;
	width: 10px;
}

.profile-info span{
	font-size: 1.2rem;
}

#login-content{
/*  padding-top: 10rem !important; iPhone 6*/
/*	padding-top: 8rem !important;*/
}

div.text-center.white.absolute.bottom{
	width: 100%;
}

#login-content .list{
	height: 70%;
	left: 5;
	position: absolute;
	top: 25%;
	width: 95%;
}

.brand-name{
    font-size: 3rem;
/*    letter-spacing: 3px;*/
    text-transform: uppercase;
}

.title{
/*    letter-spacing: 3px;*/
}

.brand-name span{
    font-weight: 100;
}

ion-nav-bar .badge{
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: 300;
    height: 16px;
    line-height: 16px;
    margin-top: 1.1rem;
    padding-left: 0.3rem;
    padding-top: 0rem;
    position: absolute;
    text-align: center;
    width: 16px;
    z-index: 4;
}

.button{
    height: 25px;
    line-height: 25px;
}

form label{
    border: none !important;
}

.social-buttons-container{
/*    padding-top: 9.5rem; iPhone 6*/
/*	padding-top: 5rem;*/
}

.social-btn{
    font-size: 0.9rem;
}

.google-btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.facebook-btn{
	border-radius: 4px;
	bottom: 6.5% !important;
	left: 5%;
	position: fixed !important;
	right: 5%;
	width: 90% !important;
}

.item-card{
	border-bottom: none;
    border-left:3px solid #FF8010;
	border-top: none !important;
	max-height: 100px;
	padding: 0;
}

.item-card .item-content, .item-card .item{
	padding: 0;
}

.item-card .petshop-info{
	padding-top: 0.7rem;
}

.pets-content .petshop-info p{
/*	text-transform: capitalize;*/
}

.item-card h2{
	font-weight: 300;
}

.item-card p{
	font-size: 0.7rem;
	line-height: 16px;
	margin-top: 1.6rem;
	white-space: normal;
}

.item-card span{
	font-weight: 600;
}

.item-card a.button{
	border-radius: 0;
	font-size: 0.75rem;
	margin-top: -1rem;
	min-height: 30px !important;
}

.item-card a.button.icon-left:before{
	font-size: 1rem;
	line-height: 23px;
	margin-right: 0.2rem;
}

.card{
    box-shadow: 0px 1px 1px -1px #999;
}

.card:first-child{
    margin-top: 0;
}

.card .item-text-wrap, .card .item-avatar{
    border-top: none !important;
}

.bg-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    width: 100%;
}

.bg-card.cachorro{
    background-image: url('../img/cachorro.jpg');
}

.card{
    padding-bottom: 0;
}

.card.finished{
    border-bottom: 3px solid #009400;
}

.card h2{
    white-space: normal;
}

.card p.green{
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-top: -1rem
    padding-top: 0;
}

.card button{
    min-height: 41px;
}

.card .right{
    margin-top: -1.2rem;
    margin-right: -0.3rem;
}

.card .right.price{
	margin-top: -1.3rem;
	margin-right: 0.3rem;
	bottom: 30px;
	position: absolute;
	right: 0;
}

.card .right.ion-ios-close-empty{
	font-size: 2rem !important;
	margin-right: 0.1rem;
	margin-top: -0.6rem;
}

.servicos-content .card .item{
	padding: 0;
}

.ion-ios-checkmark-empty{
    font-size: 3rem;
}

.ion-ios-close-empty{
    font-size: 2.3rem !important;
}

.calendarday h2:first-child{
    font-size: 1.7rem;
    line-height: 23px;
}

.petshop-logo{
    background-image: url('../img/petshop_logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 101px;
    margin-right: 1rem;
    padding: 0;
    width: 95px;
}

/*.logo-1{*/
/*	background-image: url('../img/logo_1.gif');*/
/*}*/
/*.logo-2{*/
/*	background-image: url('../img/logo_2.jpg');*/
/*}*/
/*.logo-3{*/
/*	background-image: url('../img/logo_3.gif');*/
/*}*/
/*.logo-4{*/
/*	background-image: url('../img/logo_4.png');*/
/*}*/
/*.logo-5{*/
/*	background-image: url('../img/logo_5.jpeg');*/
/*}*/

.servicos-content .card{
	border-bottom: none !important;
    border-left:3px solid #0c9ddc;
	border-top: none !important;
    max-height: 100px;
    padding: 0;
}

.servicos-content .card .item-content, .servicos-content .card .item-content .item{
	padding: 0 !important;
}

.petshop-info{
    padding-top: 0.7rem;
}

.servicos-content h2{
    font-weight: 300;
}

.servicos-content p{
    font-size: 0.6rem;
    line-height: 16px;
    white-space: normal;
}

.servicos-content p span{
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

.button.ion-ios-calendar, .button.ion-edit{
	bottom: 0;
	clear: both;
	float: right;
	margin-top: 0 !important;
	position: absolute;
	right: 0;
}

.button.ion-ios-calendar, .button.ion-ios-calendar:before{
    border-radius: 0;
    font-size: 0.75rem;
    min-height: 30px !important;
}

.button.ion-ios-calendar:before{
    font-size: 1.1rem;
    line-height: 21px;
}

.petshop-content{
    padding: 0;
}

ion-slides{
    height: 180px;
}

.swiper-slide{
    box-shadow: inset 1px -60px 50px -50px #000;
}

.bg-petshop-1{
    background-image: url('../img/petshop.jpg');
}

.bg-petshop-2{
    background-image: url('../img/petshop2.jpg');
}

.bg-petshop-3{
    background-image: url('../img/petshop3.jpg');
}

.bg-petshop{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination{
    display: none;
}

.petshop-details{
    margin-top: -4rem;
}

.petshop-logo-big{
/*    background-image: url('../img/petshop_logo.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 1px 1px -1px #999;
    height: 100px;
    width: 100px !important;
    z-index: 1;
}

.petshop-details .petshop-info{
    z-index: 1;
}

.petshop-details .petshop-info h2{
    float: left;
    font-weight: bold;
    margin-top: 0.7rem;
    text-shadow: 1px 1px 1px #444;
    width: 85%;
}

.petshop-details .petshop-info p{
    font-weight: 100;
}

.petshop-info .ion-ios-star-outline:before, .petshop-info .ion-ios-star:before{
    color: #ffde15;
    font-size: 1.7rem;
    padding-top: 1rem;
}

.agendamento{
    margin: 0 auto !important;
/*    margin-top: -10px !important;*/
    margin-bottom: 20px !important;
    width: 93%;
}

.agendamento .item-divider i{
    font-size: 1.28rem;
    margin-top: 0;
}

.list .input-label{
	display: block;
/*    max-width: 200px;*/
/*    width: 75%;*/
}

.signup-form.list input{
	padding-right: 24px !important;
	text-align: right;
}

.angular-google-map-container{
    height: 200px;
    margin: 0 auto;
    width: 93% !important;
    z-index: -1;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmoprint, .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none !important;
}
.gmnoprint div {
    display: none !important;
    background:none !important;
}

.address-bar{
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 0 auto;
    margin-top: -2.5rem;
    width: 93%;
    z-index: 15;
}

.address-bar span{
    font-weight: 100;
}

.popup{
	border-radius: 12px !important;
}

.popup-body{
	text-align: center;
}

.popup-buttons button{
	background-color: transparent !important;
	color: #FF8010 !important;
}

.popup h3{
	font-size: 1.1rem;
	font-weight: 600;
}
.popup h5{
	font-size: 0.8rem;
}

.profile-panel{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 4px solid #ffc900;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-radius: 100px;
	box-shadow: inset 0px 4px 0px -1px rgba(0, 0, 0, 0.1);
	height: 85px;
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 85px;
}

.profile-panel h3{
	margin-bottom: 0;
}

.profile-panel h5{
	margin-top: 0.2rem;
}

.profile-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 85px;
	box-shadow: inset 0px 4px 0px -1px rgba(0, 0, 0, 0.1);
	height: 85px;
	margin: 0 auto;
	width: 85px;
}

.schedule-content .card{
	max-height: 150px;
}

.schedule-content .card .petshop-info{
	padding-bottom: 0;
}

.alert-bar{
	clear: both;
	font-size: 0.75rem;
	padding: 0.19rem 0.3rem;
	text-align: center;
	white-space: normal;
}

.alert-bar.Fi{
	background-color: #04cc09;
}

.alert-bar.Em{
	background-color: #FF8010;
}

.alert-bar.Na{
	background-color: #0c9ddc;
}

.alert-bar.Ag{
	background-color: #ffc900;
}

.alert-bar.Ca{
	background-color: #FE0103;
}

.invoice-container{
	margin-top: 0.8rem !important;
}

.invoice-container .item{
	padding-bottom: 0.3rem !important;
	padding-top: 0.3rem !important;
}

.invoice-container h2{
	font-size: 1.5rem;
	font-weight: 300;
}

.invoice-container p span{
	font-size: 1rem;
}

.invoice-container .item-select{
	border: none;
	padding-left: 0 !important;
}

.notification-container{
	padding: 0;
}

.notification-container ion-item.unread{
	border-left: 3px solid #ffc900;
}

.notification-container h2{
	font-size: 1rem;
	margin-top: 0.3rem;
}

.notification-container h4{
	margin-bottom: 0;
	white-space: normal;
}

.notification-container p{
	font-size: 0.6rem;
}

.notification-container img{
	margin-left: -5px;
	margin-top: -5px;
	max-height: 50px !important;
	max-width: 50px !important;
}

.input-label.col{
	max-width: 100%;
}

.create-pet-container .item-input .input-label{
/*	width: 60%;*/
}

.invoice-container .item input[type="text"]{
	text-align: right;
}

.item-select input[type="date"]{
	padding-right: 60px !important;
	text-align: right !important;
}

.invoice-container .item-input{
	border-top: none !important;
	padding-left: 0 !important;
}

.invoice-container textarea{
	font-size: 16px;
	height: 60px;
}

.invoice-container .angular-google-map-container, .invoice-container .address-bar{
	width: 100% !important;
}

.total-bar{
	margin-top: 1rem;
}

.total-bar div{
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	width: 50%;
}

.total-bar div.sale-price.gray{
	font-size: 0.7rem;
	margin-top: 0.1rem;
	padding-bottom: 0.9rem;
	text-decoration: line-through;
}

.total-bar div.sale-price{
	width: 25%;
}

.scroll{
	transition: translateY(0) 0.3s ease !important;
}

.pet-panel{
	background-position: center;
	background-repeat: no-repeat;
/*	background-size: 100%;*/
}

.ion-funnel{
	font-size: 1rem;
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}

.bar-subheader label, .bar-subheader select{
	background: transparent;
	direction: ltr;
	float: left;
	height: 35px !important;
	padding-top: 0;
	position: relative !important;
}

.bar-subheader .item-select:after{
	color: white;
}

.bar-subheader select{
	max-width: 100% !important;
	width: 100% !important;
}

.city-input{
	border-bottom: 1px solid #fff !important;
}

.keyboard-open .facebook-btn{
	display: none;
}