.bg-main-color{ background-color: #0c9ddc !important; }
.bg-second-color{ background-color: #FF8010 !important; }
.bg-red{ background-color: #fe0103; }
.bg-white{ background-color: #fff !important; }
.bg-gray{ background-color: #ededed !important; }
.bg-lighter-gray{ background-color: #f6f6f6 !important; }
.facebook-btn{ background-color: #43609c !important; }
.list{ background: transparent; }

.second-color{ color: #FF8010 !important; }
.black { color: #000 !important; }
.white, .nav-bar-title{ color: #fff !important; }
.green{ color: #009400 !important; }
.gray{ color: #777 !important; }
.red{ color : #FE0103 !important; }
.google-btn{ color: #dc4637 !important; }
